# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# Données et Modèles (très important !)
models/
*.pth
*.onnx
*.weights
Workshop1/*
Arthur/*
Leo/*
Workshop2/*